<%= javascript_include_tag 'listings.js' %>
<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <h1>Shiplist Create an Account</h1>
    </div>
  </div>
</div>
<div class="container">
  <div id="contact-area">
<!-- TO DO -->
  </div>
</div>
