  body {
    font-size: 62.5%;
    font-family: Helvetica, sans-serif;
  }

/*********
Navbar Styles
**********/

.navbar-static-top .container {
  background-color: #3f51b5;
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
  border-color: #3f51b5;
}

.navbar-default{
  font-family: Arial, Helvetica, sans-serif !important;
  background-color: #3f51b5 !important;
}

.navbar-default .navbar-brand{
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: 20.5pt;
}

.navbar-default .navbar-brand:hover{
  color: #ececec !important;
}

.navbar-default .navbar-right li a{
  color: #FFFFFF !important;
}

.navbar-default .navbar-right li a:hover{
  color: #FFFFFF !important;
  color: #ececec !important;
}

/**********
Devise Alert styles
***********/
.alert-box {
  color:#555;
  border-radius:10px;
  font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
  padding:10px 10px 10px 36px;
  margin:10px;
  span {
    font-weight:bold;
    text-transform:uppercase;
  }
}
.danger {
    background:#ffecec url('images/error.png') no-repeat 10px 50%;
    border:1px solid #f5aca6;
}
.success {
    background:#e9ffd9 url('images/success.png') no-repeat 10px 50%;
    border:1px solid #a6ca8a;
}
.warning {
    background:#fff8c4 url('images/warning.png') no-repeat 10px 50%;
    border:1px solid #f2c779;
}
.notice {
    background:#e3f7fc url('images/notice.png') no-repeat 10px 50%;
    border:1px solid #8ed9f6;
}