<body>
  <div class="mainbtn-container">
    <div class="image-wrap">
      <%= link_to (image_tag image_url('housing.png')),  category_path(@housing), {:class => 'btn btn-large btn-danger'} %>
    </div>
    <div class="image-wrap">
      <%= link_to (image_tag image_url('roommates.png')),  category_path(@roommates), {:class => 'btn btn-large btn-danger'} %>
    </div>
    <div class="image-wrap">
      <%= link_to (image_tag image_url('buysell.png')),  category_path(@forsale), {:class => 'btn btn-large btn-danger'} %>
    </div>
  </div>
</body>